/* ATOM: Avatar Styles */

.avatar {
  border-radius: 50%;
  overflow: hidden;
  background: #0078d4;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.avatar--sm {
  width: 32px;
  height: 32px;
  font-size: 12px;
}

.avatar--md {
  width: 48px;
  height: 48px;
  font-size: 16px;
}

.avatar--lg {
  width: 72px;
  height: 72px;
  font-size: 24px;
}

.avatar__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar__initials {
  text-transform: uppercase;
}
